h1, p {
  font-family: Lato;
}
.HeaderBlock {
 background-color: wheat;
 padding: 20px;
 height:  15px;
 font-size: 18px;
 border-radius:  10px;
 margin-bottom:  20px;
 text-align: center;
}

.maintitle {
color: black;
font-weight: 800;
}
.EmailForm {
padding: 4%;
text-align: center;
}
.EmailField {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding-left: 4px;
  margin-bottom:  20px;
}
.Button{
  background-color: bisque;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}